PORT="YOUR PORT"

#JWT
JWT_ACCESS_SECRET="YOUR JWT ACCESS SECRET"
JWT_REFRESH_SECRET="YOUR JWT REFRESH SECRET"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# EX = mysql://root:@localhost:{ PORT SQL }/{ YOUR DB NAME }?schema=publi
DATABASE_URL="mysql://{ USERNAME }:@localhost:{ YOUR DB NAME }/next-app?schema=public"